.venv
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
db.sqlite3
.git
.gitignore
.env
media/
static_root/
frontend_simples/
frontend_marica/
node_modules/
.antigravityignore
task.md
implementation_plan.md
walkthrough.md
