version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 projeto_marica.wsgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_DEBUG=False
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=marica_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=marica_pass

volumes:
  postgres_data:
